body {
	margin: 0;
	height: 100vh;
	background-color: black;
	font-size: 1rem;
}

#main {
	height: 100%;
	margin: 0;
}

#geo-canvas {
	width: 100%;
	height: 100%;
	margin: 0;
}

#interface {
	position: absolute;
	top: 1rem;
	left: 1rem;
	width: min(90%, 20rem);
}

button {
	font-weight: 700;
	border: none;
	cursor: pointer;
	font-size: inherit;
	color: white;
	background-color: #00000000;
	transition: background-color .1s;
}

label {
	color: white;
	font-weight: 700;
	font-size: 1.25rem;
}

form>* {
	margin-left: 2rem;
}

select {
	cursor: pointer;
	color: white;
	font-weight: 700;
	border: solid 2px white;
	outline: none;
	background-color: #000000aa;
	transition: background-color .1s;
}

select:hover {
	background-color: #444444aa;
}

optgroup,
option {
	background-color: black;
}

.dropdown {
	align-items: center;
	justify-content: space-between;
	color: white;
	font-size: 1.5rem;

	button {
		color: white;
		padding: .5rem;
		background-color: #00000000;
	}

}

#layers-interface {
	border: solid 2px white;
	display: flex;
	flex-direction: column;
	margin-top: .25rem;
	background-color: #000000aa;
}

#layers-container .layer-info {
	padding: .25rem;
	margin: .5rem;
	border: solid 2px white;

	h3 {
		margin: .25rem;
		color: white;
	}

	.inputs-container {
		position: relative;

		.layer-inputs {
			display: grid;
			grid-template-columns: 50% 50%;

			.layer-input-container {
				margin: .25rem;
				border: solid 1px white;
				display: grid;
				font-size: 1.5rem;
				grid-template-columns: 1.5rem calc(100% - 3rem) 1.5rem;

				input {
					border: none;
					text-align: center;
					outline: none;
					color: white;
					background-color: #00000000;
					font-size: 1.25rem;
				}

				button {
					color: white;
					background-color: #00000000;
				}

				button:hover {
					background-color: #444444;
				}


			}
		}

		.remove-layer-button {
			position: absolute;
			margin: 0 .25rem;
			top: 0;
			right: 0;
			aspect-ratio: 1/1;
			font-weight: 900;
			border: solid 1px #FF7777;
			background-color: #00000000;
			color: #FF7777;
			line-height: 0;
			font-size: .75rem;
		}

		.remove-layer-button:hover {
			background-color: #444444;
		}
	}
}

#add-layer-button {
	margin: .5rem;
	padding: 0;
	background-color: #00000000;
	border: solid 2px #77FF77;
	color: #77FF77;
	font-size: 1.5rem;
}

#add-layer-button:hover {
	background-color: #444444;
}

#build {
	cursor: pointer;
	width: calc(100% - 2rem);
	background-color: #00000000;
	color: white;
	font-size: 1.25rem;
	border: solid 2px white;
	margin-top: .5rem;
	padding: .5rem 0;
	background-color: #000000aa;
	transition: background-color .1s;
}

#render-form {
	h3 {
		color: white;
		margin: 0;
	}

	label {
		font-size: 1rem;
	}

	select {
		background-color: #00000000;
	}

	select:hover {
		background-color: #444444aa;
	}

	.select-div {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

#render-form>* {
	display: grid;
	grid-template-columns: 4rem 1fr 3fr 1fr;
	align-items: center;
	border: solid 2px white;
	margin-bottom: .5rem;
	padding: .25rem .5rem;
	background-color: #000000aa;
}

#face-render-options {
	grid-template-columns: 4rem 1fr 1fr;
}

#build:hover {
	background-color: #444444;
}

@media (max-width: 700px) {
	#interface {
		inset: 1rem;
		bottom: auto;
		width: auto;
	}
}
